body {
    margin: 0 1rem;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* vaihda fontit */
    scroll-behavior: smooth;
    display: flex;
    background-color: white;
    height: 100%;
}

html {
    height: 100%;
}

main {
    flex: 1;
}

.container {
    width: 96%;
    height: auto; /*100%;*/
    margin: auto;
    background-image: url("https://images.freeimages.com/images/large-previews/6aa/abstract-1188378.jpg?fmt=webp&h=350");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.header {
    margin: 0;
}

nav {
    display: flex;
    margin-left: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.logo {
    padding-left: 1rem;
}

ion-icon {
    vertical-align: middle;
    font-size: 2rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    color: white;
    margin-left: auto;
    padding-right: 1rem;
}

nav ul li {
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 300ms;
    margin: 0.5rem;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li:hover {
    background-color: black;
}

nav ul li a:hover {
    color: white;
    background-color: black;
}

.button {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    transition: all 300ms;
    background-color: rgb(253, 252, 252);
}

.boxes {
    display: flex;
    flex-direction: column;
    flex: auto;
    max-width: 300px;
    margin-right: 0;
    margin-left: 0;
}

.boxes {
    width: 100%;
    margin-top: 0;
}

.box {
    display: flex;
    flex-direction: column;
    margin: 0 1rem 1rem 1rem;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 300ms;
    font-size: 0.98rem;
    background-color: rgb(253, 252, 252);
}

.box {
    padding: 1rem;
    font-size: x-small;
}

h2 {
    margin-top: 0;
    font-size: large;
}

.flex-wrap {
    display: flex;
}

main {
    padding: 0 1rem 1rem 1rem;
}

#map,
.box {
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 10px;
    margin-bottom: 1rem;
}

@media screen and (min-width: 769px) {
    .box {
        font-size: initial;
    }

    #map {
        width: 100%;
        height: initial;
        margin-top: 0;
    }

    .boxes {
        width: 60%;
        padding-left: 1rem;
        box-sizing: border-box;
    }
}

main > div {
    flex: auto;
    height: 100%;
    margin: 1rem;
    width: 200%;
}

.current-location {
    color: #2d7cfb;
}

.travellable {
    color: #31d842;
}

.travellable-visited {
    color: #14591c;
}

.untravellable {
    color: #ff3042;
}

.untravellable-visited {
    color: #980011;
}

#player-modal, #difficulty-modal, #opened-chest-modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
}

#player-form {
    display: flex;
    width: 20%;
    margin: 4rem auto;
    border-radius: 6px;
}

#difficulty-form, #opened-chest-form {
    display: flex;
    width: 35%;
    margin: 4rem auto;
    background: white;
    border-radius: 6px;
}

#difficulty-form p {
    text-align: center;
}


.button-container {
    padding-bottom: 1rem;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

#difficulty-form {
    flex-direction: column;
}

#player-form input {
    padding: 0.5rem;
}

/* Modal piilottaminen */
.hide {
    display: none;
}

/* hover */
ion-icon:hover {
    font-size: 1.5rem;
    color: #2d7cfb;
}

.bold:hover {
    font-weight: 550;
}

.hover:hover {
    color: #86c353;
}

.blue:hover {
    color: #2d7cfb;
}

.green:hover {
    color: #31d842;
}

.darkgreen:hover {
    color: #14591c;
}

.red:hover {
    color: #ff3042;
}

.darkred:hover {
    color: #980011;
}

/* Flight info markers */

.flight-info-marker p {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.flight-info-marker div {
    display: flex;
    justify-content: center;
}

.flight-info-marker div button {
    width: 3.5rem;
    height: 2rem;
    font-weight: bold;
    align-content: center;
}

.flight-info-marker div button:hover {
    background-color: lightblue;
    color: #143278;
    font-weight: bold;
}

/* Rules & about */

.list {
    list-style-type: none;
    padding: 0;
}

.this-page {
    background-color: #000000;
    color: white;
}

.box h1 {
    margin: 0.5rem 0;
}

.header2 {
    margin: 1rem 0 0.5rem 0;
}

.box p {
    margin: 0.5rem 0 0.75rem 0;
    line-height: 1.3;
}

.box a {
    color: black;
}

.box a:hover {
    font-weight: 550;
    color: #2d7cfb;
}

.box li {
    line-height: 1.3;
}

ol {
    padding-left: 2rem;
}

.more-space li {
    line-height: 1.3;
    padding: 0.4rem 0;
}

.more-padding {
    padding: 1rem 1.5rem 1.5rem 1.5rem;
    margin-left: 0;
    margin-right: 0;
}

.no-bold {
    font-weight: normal;
}

.no-margin-top {
    margin-top: 0;
}

#status td, #symbols td {
    vertical-align: top;
    line-height: 1.5;
}

.popup {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.rules {
    margin: 0.5rem;
}

.about {
    margin-right: 0;
}

/* Popup content */
.popup-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 40%;
    min-width: 20%;
    min-height: 40%;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.popup-body {
    display: flex;
    align-items: center;
}

.popup-content img {
    max-width: 70%;
    max-height: 30rem;
    height: auto;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 10px;
    margin-bottom: 1rem;
    margin-right: 1rem;
    flex: 1;
}

.popup-text {
    flex: 1;
}

.popup-buttons {
    display: flex;
    justify-content: space-evenly;
}

.popup-buttons button {
    flex: 1;
    margin: 0 5px;
    padding: 10px;
}

.padding-button {
    margin: 0 5px;
    padding: 10px;
}

/* Close button */
.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 2.5px;
    right: 8px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

/* Leaflet-kartta formin taakse */
#map {
    z-index: 0;
}

#player-form, #difficulty-form {
    z-index: 1000;
    position: relative;
}

/* Leaflet kartta symboli värit */
.marker-green {
    background-color: rgb(205, 119, 6);
    filter: hue-rotate(90deg);
    backdrop-filter: hue-rotate(90deg);
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.2)
}

.marker-darkgreen {
    background-color: rgba(103, 59, 16, 0.96);
    filter: hue-rotate(90deg);
    backdrop-filter: hue-rotate(90deg);
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.2)
}

.marker-red {
  background-color: rgb(166, 10, 177);
  filter: hue-rotate(90deg);
  backdrop-filter: hue-rotate(90deg);
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.1)
}

.marker-darkred {
    background-color: rgb(67, 12, 112);
    filter: hue-rotate(90deg);
    backdrop-filter: hue-rotate(90deg);
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.2)
}
