body {
  margin: 1rem;
  margin-top: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;     /* vaihda fontit */
  scroll-behavior: smooth;
  display: flex;
  background-color: white;
}

.header {
  margin-right: 1rem;
  margin-left: 1rem;
}

nav {
  /*background-color: ;*/
  display: flex;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  color: white;
  margin-left: auto;
}

nav ul li {
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 300ms;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li:nth-child(2) {
  margin-right: 0;
}

nav ul li:hover {
  background-color:black;
}

nav ul li a:hover {
  color: white;
}

.button {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  transition: all 300ms;
}

.boxes {
  display: flex;
  flex-direction: column;
  flex: auto;
  max-width: 300px;
  margin-right: 0;
  margin-left: 0;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 0 1rem 1rem 1rem;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 300ms;
  font-size: 0.98rem;
}

h3 {
  margin-top: 0;
}

.flex-wrap {
  display: flex;
}

main img {
  width: 100%;
}

main>div {
  flex: auto;
  height: 100%;
  margin: 1rem;
  width: 200%;
}

.current-location {
  color: #2d7cfb;
}

.travellable {
  color: #31d842;
}

.travellable-visited {
  color: #14591c;
}

.untravellable {
  color: #ff3042;
}

.untravellable-visited {
  color: #980011;
}

/* Leaflet icons */
.blue-icon {
  background-color: #2d7cfb;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}

.green-icon {
  background-color: #31d842;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}

.darkgreen-icon {
  background-color: #14591c;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}

.red-icon {
  background-color: #ff3042;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}

.darkred-icon {
  background-color: #980011;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}
